.input_field{
width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.butn{
width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
margin-left: 30%;
    border-radius: 4px;
    cursor: pointer;
}
.butn:hover {
    background-color: #45a049;
}
#login_form{
border-radius: 5px;
   background: rgba(0,0,0,0.6);
color: bisque;
    padding: 20px;
margin-left: 390px;
margin-right: 440px;
margin-top: 140px;
margin-bottom: 130px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.forms{
    border-radius: 5px;
   background: rgba(240,240,230,0.6);
color: black;
    padding: 20px;
margin-left: 110px;
margin-right: 150px;
margin-top: 140px;
margin-bottom: 130px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.forms_fields{
width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    float: right;
}
.addbook{
    font-family: apple chancery;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: normal;
}
.setfields{
    width: 50%;
    margin: 8px 0;
    display: inline-table;
    float: right;
}
